<body>
    <div class="div1">
        <mat-card class="example-card" layout="row" layout-align="center center">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>

                <mat-card-title class="title">
                    Login
                </mat-card-title>

            </mat-card-header>

            <br>
            <mat-card-content class="card1">
                <form [formGroup]="myform" id="myform">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label style="color: white;">Email Id</mat-label>
                                    <input matInputtype="email" placeholder="" aria-label="name" matInput
                                        formControlName="userEmail" name="email">
                                </mat-form-field>
                                <div *ngIf="myform.get('userEmail')!.touched && myform.get('userEmail')!.invalid">
                                    <div *ngIf="myform.get('userEmail')!.hasError('required')">
                                        <font color="white">*Email Id is required</font>
                                    </div>
                                    <div *ngIf="myform.get('userEmail')!.hasError('pattern')">
                                        <font color="white">*Invalid Email Id</font>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label style="color: white;">Password</mat-label>
                                    <input matInputtype="passsword" placeholder="" aria-label="name" matInput
                                        formControlName="userPassword" name="name">
                                </mat-form-field>
                                <div *ngIf="myform.get('userPassword')!.touched && myform.get('userPassword')!.invalid">
                                    <div *ngIf="myform.get('userPassword')!.hasError('required')">
                                        <font color="white">*Password is required</font>
                                    </div>
                                    <div *ngIf="myform.get('userPassword')!.hasError('pattern')">
                                        <font color="white">*Invalid Password</font>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="login(myform.value)">Login</button>

            </mat-card-actions>
            <tr>Create Account <a routerLink="/Register">New User</a></tr>
            <br>
        </mat-card>
    </div>
</body>