<div matDialogTitle>
    <b>
        <h1 style="font-family: 'Times New Roman', Times, serif; text-align: center;">Add Doctor</h1>
    </b>
</div>


<form [formGroup]="doctorForm" id="doctorForm" (ngSubmit)="onSubmit()">
    <div class="content">
        <mat-dialog-content>
            <div class="row">



                <mat-form-field appearance="outline">
                    <mat-label>User Id</mat-label>
                    <input type="number" matInput placeholder="" formControlName="userId" name="id">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userId')!.touched && doctorForm.get('userId')!.invalid">
                    <div *ngIf="doctorForm.get('userId')!.hasError('required')">
                        <font color="red">*User Id required</font>
                    </div>
                    <div *ngIf="doctorForm.get('id')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>



                <mat-form-field appearance="outline">
                    <mat-label>User Type</mat-label>
                    <input type="text" matInput placeholder="" formControlName="userType" name="name">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userType')!.touched && doctorForm.get('userType')!.invalid">
                    <div *ngIf="doctorForm.get('userType')!.hasError('required')">
                        <font color="red">*User Type required</font>
                    </div>
                    <div *ngIf="doctorForm.get('userType')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>

            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email </mat-label>
                    <input type="email" matInput placeholder="" formControlName="userEmail" name="email">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userEmail')!.touched && doctorForm.get('userEmail')!.invalid">
                    <div *ngIf="doctorForm.get('userEmail')!.hasError('required')">
                        <font color="red">*Email id required</font>
                    </div>
                    <div *ngIf="doctorForm.get('userEmail')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>




                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="" formControlName="userPassword" name="contact">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userPassword')!.touched && doctorForm.get('contact')!.invalid">
                    <div *ngIf="doctorForm.get('userPassword')!.hasError('required')">
                        <font color="red">*Password required</font>
                    </div>
                    <div *ngIf="doctorForm.get('userPassword')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>

            </div>
            <div class="row">

                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput placeholder="" formControlName="userName" name="location">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userName')!.touched && doctorForm.get('userName')!.invalid">
                    <div *ngIf="doctorForm.get('userName')!.hasError('required')">
                        <font color="red">*User Name required</font>
                    </div>
                    <div *ngIf="doctorForm.get('userName')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>



                <mat-form-field appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input type="text" matInput placeholder="" formControlName="userMobileNumber" name="number">
                </mat-form-field>
                <div *ngIf="doctorForm.get('userMobileNumber')!.touched && doctorForm.get('userMobileNumber')!.invalid">
                    <div *ngIf="doctorForm.get('userMobileNumber')!.hasError('required')">
                        <font color="red">*User Name required</font>
                    </div>
                    <div *ngIf="doctorForm.get('userMobileNumber')!.hasError('pattern')">
                        <font color="red">*invalid format</font>
                    </div>
                </div>

            </div>
        </mat-dialog-content>
    </div>

    <div class="action">
        <mat-dialog-actions style="justify-content: center;">

            <!-- Submit -->
            <button mat-stroked-button type="submit" value="submit" color="primary">{{data ? 'Update': 'Save'}}
            </button>
            <!-- Cancel -->
            <button mat-stroked-button type="button" [matDialogClose]="false">Cancel</button>

        </mat-dialog-actions>
    </div>
</form>