.tbl-body {
    width: 50%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center ;
    
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image : url('https://img.freepik.com/premium-vector/human-connection-social-network-digital-communication-technology-concept-background_618588-965.jpg');
}

tbody {
    position: relative;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    
    
}

.card-header {
    font-weight: bolder;
    margin: auto;
    background: none;
    border: none;
}

.card {
    margin-top: 20%;
    background-color: white;
    font-weight: bolder;
    backdrop-filter: blur(15px);
}

td{
    background-color: transparent;
}

tr:hover {
    background-color: white;
}