
<body>
    <div class="tbl-body">
        <br>
        <div class="card">
            <div class="card-header">
                <b><h3>Patient Details</h3></b>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="table-dark">
                        <tr scope="row">
                            <th scope="col">User ID</th>
                            <th scope="col">User Name</th>
                            <th scope="col">User Type</th>
                            <th scope="col">User Email</th>
                            
                            <th scope="col">User Mobile Number</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let patient of patList" scope="row">
                            <td scope="col">{{patient.userId}}</td>
                            <td scope="col">{{patient.userName}}</td>
                            <td scope="col">{{patient.userType}}</td>
                            <td scope="col">{{patient.userEmail}}</td>
                           
                            <td scope="col">{{patient.userMobileNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
    </body>