<!-- <div class="container-fixed">
    <mat-toolbar color="primary">

        <b>
            <h1 style="font-family: 'Times New Roman', Times, serif;">E-Healthcare Application</h1>
        </b>
        <span class="example-spacer"></span>

        <div class="example-button-row">
            <a mat-stroked-button routerLink="Login">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a mat-stroked-button routerLink="Register">SignUp</a>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>

    </mat-toolbar>
</div> -->

<router-outlet></router-outlet>