<div class="container-fixed">
    <mat-toolbar color="primary">

        <b>
            <h1 style="font-family: 'Times New Roman', Times, serif;">E-Healthcare Application</h1>
        </b>
        <span class="example-spacer"></span>

    </mat-toolbar>
</div>

<div class="pres1">
    <br><br>
    <mat-card>
        <form [formGroup]="myform" id="myform">
            <br>
            <b>
                <h3 align="center">Prescription Details</h3>
            </b>
            <br>
            <table>
                <tr>
                    <td><mat-form-field appearance="outline">
                            <mat-label>Prescription Id</mat-label>
                            <input matInputtype="text" placeholder="" aria-label="name" matInput
                                formControlName="prescriptionId" name="name">
                        </mat-form-field>
                        <div *ngIf="myform.get('prescriptionId')!.touched && myform.get('prescriptionId')!.invalid">
                            <div *ngIf="myform.get('prescriptionId')!.hasError('required')">
                                <font color="red">*Prescription Id is required</font>
                            </div>
                            <div *ngIf="myform.get('prescriptionId')!.hasError('pattern')">
                                <font color="red">*Invalid Prescription Id</font>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><mat-form-field appearance="outline">
                            <mat-label>Prescription Date</mat-label>
                            <input matInputtype="text" placeholder="" aria-label="name" matInput
                                formControlName="prescriptionDate" name="name">
                        </mat-form-field>
                        <div *ngIf="myform.get('prescriptionDate')!.touched && myform.get('prescriptionDate')!.invalid">
                            <div *ngIf="myform.get('prescriptionDate')!.hasError('required')">
                                <font color="red">*Prescription Date is required</font>
                            </div>
                            <div *ngIf="myform.get('prescriptionDate')!.hasError('pattern')">
                                <font color="red">*Invalid Prescription Date</font>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Prescription Tablets</mat-label>
                            <input matInputtype="text" placeholder="" aria-label="name" matInput
                                formControlName="prescriptionTablets" name="name">
                        </mat-form-field>
                        <div
                            *ngIf="myform.get('prescriptionTablets')!.touched && myform.get('prescriptionTablets')!.invalid">
                            <div *ngIf="myform.get('prescriptionTablets')!.hasError('required')">
                                <font color="red">*Prescription Tablets is required</font>
                            </div>
                            <div *ngIf="myform.get('prescriptionTablets')!.hasError('pattern')">
                                <font color="red">*Invalid Prescription Tablets</font>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>User Id</mat-label>
                            <input matInputtype="text" placeholder="" aria-label="name" matInput
                                formControlName="userId" name="name">
                        </mat-form-field>
                        <div *ngIf="myform.get('userId')!.touched && myform.get('userId')!.invalid">
                            <div *ngIf="myform.get('userId')!.hasError('required')">
                                <font color="red">*User Id is required</font>
                            </div>
                            <div *ngIf="myform.get('userId')!.hasError('pattern')">
                                <font color="red">*Invalid User Id</font>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>User Type</mat-label>
                            <input matInputtype="text" placeholder="" aria-label="name" matInput
                                formControlName="userType" name="name">
                        </mat-form-field>
                        <div *ngIf="myform.get('userType')!.touched && myform.get('userType')!.invalid">
                            <div *ngIf="myform.get('userType')!.hasError('required')">
                                <font color="red">*User Type is required</font>
                            </div>
                            <div *ngIf="myform.get('userType')!.hasError('pattern')">
                                <font color="red">*Invalid User Type</font>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success"
                        value="Insertbtn" (click)="addprescription(myform.value)">Add
                        Prescription</button>
                </tr>
                <br>
                <tr>
                    <font id="result"> <b>{{result}}</b> </font>
                </tr>
            </table>
            <br>

        </form>
    </mat-card>
    <br>


</div>